body
{
background-color:lightgrey;
color:black;
text-align:Left;
font-size:20px;
line-height:120%;
font-weight:bold;
}

table
{
width: 100%;
border: 1px solid black;
border-collapse: collapse;
}

tr
{
width: 100%;
border: 1px solid black;
border-collapse: collapse;
}
td
{
border: 1px solid black;
border-collapse: collapse;
}

h1
{
font-size:45px;
color:Black;
}
h2
{
font-size:35px;
color:Black;
}
h3
{
font-size:25px;
color:Black;
}
h5
{
font-size:15px;
color:Black;
}