<!DOCTYPE html>
<head>
<link rel="icon" href="iconFav.png" type="image/png">
<meta name="viewport" content="width=320, initial-scale=1, maximum-scale=1, user-scalable=0"/> <!-- prevents zooming on mobile devices....number-based width or "device-width"-->
<title id = 'title'>Labels 30 per sheet</title>
    <style type="text/css">
        Body
            {
                line-height:110%;
                font-size:50px;
                font-family:Courrier New;
                font-weight: bold;
                text-align:left;
                vertical-align:middle;
                padding:0px;
                margin:0px;                
            }
   </style>
    </head>
<body>

    
        <div id='pg' style="position:absolute;left:0%;top:0%; width:1650px;height:2000px;">
        <div id='1' style="position:absolute;left:0%;top:0%; width:566px;height:220px;">
            <div style="position:absolute;left:10%;top:10%;">
                8.5x11 scale 65
                <br>0.12' side margins
                <br>0.5' top/bottom
            </div>
        </div>    

        <div  id= '2' style="position:absolute;left:34%;top:0%; width:31.82%; height:10%;"></div> 
        <div  id= '3' style="position:absolute;right:0%;top:0%; width:31.82%; height:10%;"></div>
        
        <div  id= '4' style="position:absolute;left:0%;top:10%; width:31.82%; height:10%;"></div> 
        <div  id= '5' style="position:absolute;left:34%;top:10%; width:31.82%; height:10%;"></div>    
        <div  id= '6' style="position:absolute;right:0%;top:10%; width:31.82%; height:10%;"></div>
    
        <div  id= '7' style="position:absolute;left:0%;top:20%; width:31.82%; height:10%;"></div> 
        <div  id= '8' style="position:absolute;left:34%;top:20%; width:31.82%; height:10%;"></div>    
        <div  id= '9' style="position:absolute;right:0%;top:20%; width:31.82%; height:10%;"></div>    
        
        <div  id= '10' style="position:absolute;left:0%;top:30%; width:31.82%; height:10%;"></div> 
        <div  id= '11' style="position:absolute;left:34%;top:30%; width:31.82%; height:10%;"></div>    
        <div  id= '12' style="position:absolute;right:0%;top:30%; width:31.82%; height:10%;"></div>
        
        <div  id= '13' style="position:absolute;left:0%;top:40%; width:31.82%; height:10%;"></div> 
        <div  id= '14' style="position:absolute;left:34%;top:40%; width:31.82%; height:10%;"></div>    
        <div  id= '15' style="position:absolute;right:0%;top:40%; width:31.82%; height:10%;"></div>
        
        <div  id= '16' style="position:absolute;left:0%;top:50%; width:31.82%; height:10%;"></div> 
        <div  id= '17' style="position:absolute;left:34%;top:50%; width:31.82%; height:10%;"></div>    
        <div  id= '18' style="position:absolute;right:0%;top:50%; width:31.82%; height:10%;"></div>
        
        <div  id= '19' style="position:absolute;left:0%;top:60%; width:31.82%; height:10%;"></div> 
        <div  id= '20' style="position:absolute;left:34%;top:60%; width:31.82%; height:10%;"></div>    
        <div  id= '21' style="position:absolute;right:0%;top:60%; width:31.82%; height:10%;"></div>
        
        <div  id= '22' style="position:absolute;left:0%;top:70%; width:31.82%; height:10%;"></div> 
        <div  id= '23' style="position:absolute;left:34%;top:70%; width:31.82%; height:10%;"></div>    
        <div  id= '24' style="position:absolute;right:0%;top:70%; width:31.82%; height:10%;"></div>
        
        <div  id= '25' style="position:absolute;left:0%;top:80%; width:31.82%; height:10%;"></div> 
        <div  id= '26' style="position:absolute;left:34%;top:80%; width:31.82%; height:10%;"></div>    
        <div  id= '27' style="position:absolute;right:0%;top:80%; width:31.82%; height:10%;"></div>
        
        <div  id= '28' style="position:absolute;left:0%;top:90%; width:31.82%; height:10%;"></div> 
        <div  id= '29' style="position:absolute;left:34%;top:90%; width:31.82%; height:10%;"></div>    
        <div  id= '30' style="position:absolute;right:0%;top:90%; width:31.82%; height:10%;"></div>  
        
        
        </div>
    
    
<script>
window.onload = function(){
    str=document.getElementById('1').innerHTML;
    for (n=2;n<=30;n++){
        document.getElementById(n).innerHTML=str
    }
}    
   
</script>

</body></html>